# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
## User settings
xcuserdata/
*.xcuserstate

## Build products
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Xcode workspace / project user data
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods (por si acaso)
Pods/

# Carthage (por si acaso)
Carthage/Build/

# Fastlane (por si acaso)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
